<table class="table">
	<thead>
		<tr>
			<th class="cell--type">#{t:Type}</th>
			<th class="cell--title">#{t:Title}</th>
			<th class="cell--date">#{t:To fill}</th>
		</tr>
	</thead>
	
	<tbody>
		<p:foreach>
			<tr>
				<td class="cell--type">#{@type.upcase()} <span class="duration">#{@duration}</span></td>
				<td class="cell--title">
					<h3><a href="#{@url}">#{@title}</a></h3>

					<div class="excerpt">#{@excerpt=}</div>

					<p:choose>
						<p:when test="@is_provided"><div class="provided"><span class="btn btn-danger disabled">#{t:Provided}</span></div></p:when>
						<p:otherwise><div class="apply"><a href="#{@url('apply')}" class="btn btn-primary">#{t:Apply for this job}</a></div></p:otherwise>
					</p:choose>
				</td>
				<td class="cell--date">#{@start}</td>
			</tr>
		</p:foreach>
	</tbody>
</table>