.view--careers-offers--list h3 {
	margin-top: 0;
}

.view--careers-offers--list .cell--type,
.view--careers-offers--list .cell--date {
	white-space: nowrap;
}

.view--careers-offers--view dl {
	border: 1px solid #ddd;
	border-radius: 4px;
	overflow: hidden;
}

.view--careers-offers--view dt {
	background: #f9f9f9;
	border-right: 1px solid #DDD;
	float: left;
	margin-right: 10px;
	padding: 5px 5px 5px 10px;
	text-align: left;
	width: 20ex;
}

.view--careers-offers--view dd {
	font-style: normal;
	margin-left: 2px;
	padding: 5px;
}

.view--careers-offers--view dd+dt+dd,
.view--careers-offers--view dt+dd+dt {
	border-top: 1px solid #ddd;
}

.view--careers-offers--apply .form-before {
	border-bottom: 1px dashed #ccc;
	margin-bottom: 1em;
}

.view--careers-offers--apply .form-before .goto-view {
	text-align: right;
}

@media screen and (min-width: 980px) {

	.view--careers-offers--apply .form-before {
		float: right;
		width: 48%;
		margin-left: 2%;
		border-bottom: 0;
	}

	.view--careers-offers--apply .form-before p:first-child {
		margin-top: 0;
	}

	.view--careers-offers--apply .form-before p:last-child {
		margin-bottom: 0;
	}

	.view--careers-offers--apply form {
		float: right;
		width: 50%;
		margin: 0;
	}
}